
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <div>
        @*<button type="button" id="btnNOOCP" value="NO OCP" onclick="location.href='@Url.Action("MyAction", "MyController")'" />
        <button type="button" id="btnOCP" value="OCP" onclick="location.href='@Url.Action("OCPData", "OCPDataController")'" />*@

        <input type="button" title="NO OCP" value="NO OCP" onclick="location.href='@Url.Action("MyAction", "MyController")'" />
        <input type="button" title="OCP" value="OCP" onclick="location.href='@Url.Action("OCPData", "OCPData")'" />
</div>
</div>
